
    html{
        background-image: url("images/background.jpg");
    }
    .container-reseaux{
        display: flex;
        justify-content: space-around;
        width:35%;
        height: 2em;
        border:solid;
        margin-top:300em;
        margin-left: 30em;
}    
p{
    position:absolute;
} 

#logos{
    position:absolute;
    height: 20em;
    width: 20%;
    margin-left: 40%;
}

.site-search{
    position: absolute;
    margin-top: 22em;
    margin-left: 41em;
}
.dropdown-toggle{
    position:absolute;
    margin-top: 30em;
    margin-left: 70em;

}

    